<section>
    <p> Համարվում է, որ ներբեռնված ֆայլն ունի ուղարկված օրինակի կառուցվածքը [B6:L81] :) </p>
    <form id = "uploadForm"
        enctype = "multipart/form-data"
        action = "upload"
        method = "post"
    >
        <label class="custom-file-upload">
            <input type="file" name="file" /> Choose Excel (.xlsx) File
        </label>
        <div>
            <input type="submit" value="Upload" name="submit" class="upload">
        </div>
    </form>
</section>